[submodule "external/gym"]
	path = external/gym
	url = https://github.com/openai/gym.git
[submodule "external/pybox2d"]
	path = external/pybox2d
	url = https://github.com/pybox2d/pybox2d
[submodule "external/gym-duckietown"]
	path = external/gym-duckietown
	url = https://github.com/duckietown/gym-duckietown.git
[submodule "external/roboschool"]
	path = external/roboschool
	url = https://github.com/openai/roboschool
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/olegklimov/bullet3
[submodule "external/PyGame-Learning-Environment"]
	path = external/PyGame-Learning-Environment
	url = https://github.com/ntasfi/PyGame-Learning-Environment
[submodule "external/baselines"]
	path = external/baselines
	url = https://github.com/openai/baselines.git
[submodule "external/mujoco"]
	path = external/mujoco
	url = https://github.com/deepmind/mujoco.git
[submodule "external/tianshou"]
	path = external/tianshou
	url = https://github.com/thu-ml/tianshou.git
[submodule "external/rl-baselines3-zoo"]
	path = external/rl-baselines3-zoo
	url = https://github.com/DLR-RM/rl-baselines3-zoo.git
[submodule "external/pytorch"]
	path = external/pytorch
	url = https://github.com/pytorch/pytorch.git
